streamlit
openai>=1.0.0
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters

python-dotenv
tiktoken

pytube
youtube-transcript-api

chromadb
faiss-cpu

pypdf
beautifulsoup4
lxml

aiohttp
httpx
watchdog
